		<div class="footer-copyright text-center mt-5 foot animated fadeIn">
			<p>Made by Neha Naik <span><img src="https://img.icons8.com/offices/30/000000/small-hearts.png"/></span></p>
		</div>

		<script src="js/wow.js"></script>
	<script>
		new WOW().init();
	</script>
	</body>
</html>