<!DOCTYPE html>
<html>
<head>
	<title>Resume</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/animate.css">


<body>
	<div class="container animated fadeInDown">
		<nav id="navigation" class="navbar navbar-expand-md navbar-light">
  			<a class="navbar-brand" href="/"><img class="wow pulse" id="mainlogo" src="logo.png"></a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>

			<div class="collapse navbar-collapse justify-content-end" id="navbarID">
				<ul id="ulfont" class="nav nav-pills ">
					<li class="nav-item highlight">
						<a class="nav-link hovering " href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link hovering" href="education">Education</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link hovering" href="projects">Projects</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link hovering" href="experience">Experience</a>
					</li>
					<li class="nav-item">
						<a class="nav-link hovering" href="contact">Contact Me</a>
					</li>
				</ul>
			
			</div>
		</nav>
	</div> 	 	
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"> </script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script> -->
	
