<%- include("partials/header") %>
<div class="container">
	<div class="row justify-content-center m-3">
		<div class="col-lg-6">
			<img id="displaypicture" class="img-fluid" src="Neha.jpg"/>
		</div>
	</div>
	<div class="row justify-content-center	m-3">
		<div class="col-2 text-center">
			<a class="foot" href="https://github.com/neha8596"><i class="fab fa-github fa-3x "></i></a>
		</div>
		<div class="col-2 text-center" >
			<a class="foot" href="https://www.linkedin.com/in/neha-naik-216118185/"><i class="fab fa-linkedin fa-3x"></i></a>
		</div>
		<div class="col-2 text-center">
			<a class="foot" href="https://www.facebook.com/neha.naik.3958"><i class="fab fa-facebook fa-3x"></i></a>
		</div>
		<div class="col-2 text-center">
			<a class="foot" href="mailto:nehajmnaik@gmail.com"><i class="fab fa-google fa-3x"></i></a>
		</div>
		


	</div>
</div>







<%- include("partials/footer")%>