<%- include("partials/header") %>

<div class="container">
	<div class=" row align-items-center mt-5">
		<div class="col-md-6 order-sm-1 order-md-2 order-0">
			<img id="div1img" class="img-fluid" src="illustrations/graduation.svg">
		</div>
		<div class="col-md-6 order-sm-2 order-md-1 order-1">
			<h1 id="qualification1" class="pb-3">Latest Qualification</h1>
			<div class="row">
				<div class="col-4">
					<img class="img-fluid " src="biglogo.jpg">
					<a id="collegesite" class="btn btn-block btn-default mt-4" href="https://www.sfit.ac.in/" target="_blank">Visit Website</a>
				</div>
				<div class="col-8 description">
					<p>Bachelor Of Computer Engineering from St. Francis Institute Of Technology.</p>
					<p>CGPA: 9.01</p>
					<p>Place: Mumbai</p>
					<p>Year: 2014 - 2018</p>
				</div>
			</div>		
		</div>
	</div>
	<div class=" row align-items-center mt-5 ">
		<div class="col-md-6 order-4">
			<h1 id="qualification2" class=" pb-3">High School / Junior college Qualification</h1>
			<div class="row">
				<div class="col-4">
					<img class="img-fluid" src="ruparel.jpg">
					<a id="collegesite" class="btn btn-block btn-default m-2" href="http://www.ruparel.edu/" target="_blank">Visit Website</a>
				</div>
				<div class="col-7 description">
					<p>Passed Higher Secondary Board Examinations.</p>
					<p>Percentage: 93.85%</p>
					<p>Place: Mumbai</p>
					<p>Year: 2012 - 2014</p>
				</div>
			</div>		
		</div>
		<div class="col-md-6 order-3">
			<img id="div1img" class="img-fluid" src="illustrations/reading.svg">
		</div>
	</div>
</div>

<%- include("partials/footer")%>