<%- include("partials/header") %>

<div class="container">
	<div class=" row align-items-center m-5">
		<div class="col-md-6 order-1">
			<img id="div1img" class="img-fluid" src="illustrations/graduation.svg">
		</div>
		<div class="col-md-6 order-2">
			<h1 class="text-center">Latest Qualification</h1>
			<div class="row">
				<div class="col-3">
					<img class="img-fluid" src="biglogo.jpg">
				</div>
				<div class="col-9">
					<p>Bachelor Of Computer Engineering from St. Francis Institute Of Technology.</p>
					<p>CGPA: 9.01</p>
					<p>Place: Mumbai</p>
					<p>Year: 2014-2018</p>
					<a id="collegesite" class="btn btn-default" href="https://www.sfit.ac.in/" target="_blank">Visit College Website</a>
				</div>
			</div>	
			
		</div>
	</div>
	<div class=" row align-items-center m-5 ">
		<div class="col-md-6 order-4">
			<h1 class="text-center">High School / Junior college Qualification</h1>
			<div class="row">
				<div class="col-3">
					<img class="img-fluid" src="ruparel.jpg">
				</div>
				<div class="col-9">
					<p>Passed Higher Secondary Board Examinations.</p>
					<p>Percentage: 93.85%</p>
					<p>Place: Mumbai</p>
					<p>Year: 2012-2014</p>
					<a id="collegesite" class="btn btn-default" href="https://www.sfit.ac.in/" target="_blank">Visit College Website</a>
				</div>
			</div>	
			
		</div>
		<div class="col-md-6 order-3">
			<img id="div1img" class="img-fluid" src="illustrations/reading.svg">
		</div>
	</div>
</div>

<%- include("partials/footer")%>