<%- include("partials/header") %>
<div class="container">
	<div class="row align-items-center mt-5 ">
		<div class="col-md-6 order-md-1 order-sm-1 order-1">
			<h1 id="experience" class="text-center pb-3">Capgemini India Pvt. Ltd.</h1>
			<div class="row">
				<div class="col-4">
					<img class="img-fluid" src="capgemini.jpg"/>
					<a  class="btn btn-block btn-default mt-1 buttonstyle" href="https://www.capgemini.com/in-en/" target="_blank">Visit Website</a>
				</div>
				<div class="col-8 description text-left">
					<p>Post engineering I worked at one of the leading information technology consulting company, Capgemini Pvt. Ltd. as a software engineer. </p>
					<p>Place: Mumbai</p>
					<p>Year: 2018 - 2020</p>
				</div>
			</div>
		</div>	
		<div class="col-md-6  order-md-2 order-sm-0 order-0">
			<img class="img-fluid" src="illustrations/professional.svg"/>
		</div>	
	</div>
	<div class="row align-items-center mt-5 ">
		<div class="col-lg-6 order-3 ">
			<img class="img-fluid" src="illustrations/teamwork.svg"/>
		</div>
		<div class="col-lg-6 order-4">
			<h1 id="experience" class="text-center pb-3">Job Role</h1>
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10 description text-center justify-content-center">
					<p>DevOps engineer for a French multinational automotive corporation called Daimler (Parent company of Mercedes) as a part of the Daimler Xtech team. </p>
					<p>We worked in <em>collaboration</em> with developers from all engagements/projects under Daimler for <em>automation</em> of continuous integration and continuous deployment of their applications.</p>
				</div>
			</div>
		</div>		
	</div>
	<div class="row align-items-center justify-content-center mt-5">
		<div class="col-lg-12 border rounded text-center">
			<p class="description">I also attended a corporate training program in Java Enterprise Edition (JEE) and secured 2<sup>nd</sup> rank across all batches.</p>
			<div><a class="btn btn-default buttonstyle pl-5 pr-5" target="_blank" href="Certificate.pdf">Certificate</a></div>
		</div>		
	</div>
</div>








<%- include("partials/footer")%>