<%- include("partials/header") %>

<div class="container">
	<div class=" row align-items-center m-sm-3 m-lg-5">
		<div class="col-md-6 col-sm-8">
			<h1 id="personalname" class="text-center">NEHA NAIK</h1>
			<h2 id="summary" class="text-center d-inline"><span class="pr-1"><img id="summarylogo" src="https://img.icons8.com/carbon-copy/100/000000/home-office.png"/></span>Professinal summary</h1>
			<p id="professionalsummary" class=" mt-3 text-center">
				Software engineer with skills in various application development and devops technologies. Has the ability to quickly learn new technologies and is comfortable working in both team as well as self-directed settings.    
			 </p>
		</div>
		<div class="col-md-6 text-center ">
			<img id="div1img" class="img-fluid" src="illustrations/profile2.svg">
		</div>
	</div>

	<div class="row align-items-center m-sm-3 m-lg-5">
		<div class="col-lg-12">
			<h1 id="skills" class="text-center">What I Do?</h1>
		</div>			
	</div>

	<div class="row">
		<div class="col-lg-6">
			<p></p>
		</div>
	</div>
	<div class="row">
			
	</div>
	<div class="row">
			
	</div>
</div>

<%- include("partials/footer")%>