<%- include("partials/header") %>

<div class="container">
	<div class=" row align-items-center m-sm-3 m-lg-5">
		<div class="col-md-6 col-sm-8">
			<h1 id="personalname" class="text-center">NEHA NAIK</h1>
			<h2 id="summary" class="text-center d-inline"><span class="pr-1"><img id="summarylogo" src="https://img.icons8.com/carbon-copy/100/000000/home-office.png"/></span>Professinal summary</h2>
			<p id="professionalsummary" class=" mt-3 text-center">
				Software engineer with skills in various application development and devops technologies. Has the ability to quickly learn new technologies and is comfortable working in both team as well as self-directed settings.    
			 </p>
		</div>
		<div class="col-md-6 text-center ">
			<img id="div1img" class="img-fluid" src="illustrations/profile2.svg">
		</div>
	</div>

	<div class="row align-items-center m-sm-3 m-lg-5">
		<div class="col-lg-12">
			<h1 id="skills" class="text-center">What I Do?</h1>
			<h1 id="skillset" class="text-center">Skill Set</h1>
		</div>			
	</div>

	<div class="row-12 ">
		<button class="btn btn-block buttonstyle" type="button" data-toggle="collapse" data-target="#content1" aria-expanded="false" aria-controls="collapseExample">Programming Languages</button>
	</div>
	<div id="content1" class="card card-body collapse description">
		<div class="row align-items-center  m-3 p-5">
			<div class="col-lg-3 text-center">
				<img class="img-fluid shadow p-3 mb-5 bg-white rounded" src="icons/java.png">
				<p>JAVA</p>
			</div>
			<div class="col-lg-3 text-center">
				<img class="img-fluid shadow p-3 mb-5 bg-white rounded" src="icons/javascript.png">
				<p>JAVASCRIPT</p>
			</div>
			<div class="col-lg-3 text-center">
				<img class="img-fluid shadow p-3 mb-5 bg-white rounded" src="icons/python.png">
				<p>PYTHON</p>
			</div>
		</div>
	</div>

	<div class="row-12 mt-3">
		<button class="btn btn-block buttonstyle" type="button" data-toggle="collapse" data-target="#content2" aria-expanded="false" aria-controls="collapseExample">Frameworks</button>
	</div>
	<div id="content2" class=" card card-body collapse description">
		<div class="row align-items-center m-3 p-5">
			<div class="col-lg-3 text-center">
				<img class="img-fluid shadow p-3 mb-5 bg-white rounded" src="icons/node.png">
				<p>EXPRESS JS</p>
			</div>
			<div class="col-lg-3 text-center">
				<img class="img-fluid shadow p-3 mb-4 bg-white rounded" src="icons/springboot.png">
				<p>SPRINGBOOT-HIBERNATE</p>
			</div>
		</div>
	</div>

	<div class="row-12 mt-3">
		<button class="btn btn-block buttonstyle" type="button" data-toggle="collapse" data-target="#content3" aria-expanded="false" aria-controls="collapseExample">Web Technologies</button>
	</div>
	<div id="content3" class="card card-body collapse description">
		<div class="row align-items-center m-3 p-5">
			<div class="col-lg-3 text-center">
				<img class="img-fluid shadow p-3 mb-5 bg-white rounded" src="icons/html.png">
				<p>HTML</p>
			</div>
			<div class="col-lg-3 text-center">
				<img class="img-fluid shadow p-3 mb-5 bg-white rounded" src="icons/css.png">
				<p>CSS</p>
			</div>
			<div class="col-lg-3 text-center">
				<img class="img-fluid shadow p-3 mb-5 bg-white rounded" src="icons/bootstrap.png">
				<p>BOOTSTRAP</p>
			</div>
			<div class="col-lg-3 text-center">
				<img class="img-fluid shadow p-3 mb-5 bg-white rounded" src="icons/javascript.png">
				<p>JAVASCRIPT</p>
			</div>
		</div>
	</div>

	<div class="row-12 mt-3">
		<button class="btn btn-block buttonstyle" type="button" data-toggle="collapse" data-target="#content4" aria-expanded="false" aria-controls="collapseExample">CI/CD technologies</button>
	</div>
	<div id="content4" class="card card-body collapse description">
		<div class="row align-items-center m-3 p-5">
			<div class="col-lg-3 text-center">
				<img class="img-fluid shadow p-3 mb-5 bg-white rounded" src="icons/git.png">
				<p>GIT</p>
			</div>
			<div class="col-lg-3 text-center">
				<img class="img-fluid shadow p-3 mb-5 bg-white rounded" src="icons/jenkins.png">
				<p>JENKINS</p>
			</div>
			<div class="col-lg-3 text-center">
				<img id="maven" class="img-fluid shadow p-3 mb-5 bg-white rounded" src="icons/maven.jpg">
				<p>MAVEN</p>
			</div>
			<div class="col-lg-3 text-center">
				<img id="nexus" class="img-fluid shadow p-3 mb-5 bg-white rounded" src="icons/nexus.png">
				<p>NEXUS</p>
			</div>
		</div>
	</div>

	<div class="row-12 mt-3">
		<button class="btn btn-block buttonstyle" type="button" data-toggle="collapse" data-target="#content5" aria-expanded="false" aria-controls="collapseExample">Devops technologies</button>
	</div>
	<div id="content5" class="card card-body collapse description">
		<div class="row align-items-center m-3 p-5">
			<div class="col-lg-3 text-center">
				<img class="img-fluid shadow p-3 mb-5 bg-white rounded" src="icons/docker.png">
				<p>DOCKER</p>
			</div>
			<div class="col-lg-3 text-center">
				<img id="elk" class="img-fluid shadow p-3 mb-4 bg-white rounded" src="icons/elk.jpg">
				<p>ELK(ELASTICSEARCH-LOGSTASH-KIBANA)</p>
			</div>
		</div>
	</div>

</div>

<%- include("partials/footer")%>