<%- include("partials/header") %>

<div class="container">
		<div class=" row align-items-center m-sm-3 m-lg-5">
			<div class="col-md-6 col-sm-8">
				<h1 class="text-center">NEHA NAIK</h1>
				<h2 class="text-center">Professinal summary</h1>
				<p id="professionalsummary">
					<ul>
						<li>Software engineer with skills in various application development and devops technologies.</li>
						<li>Ability to quickly learn new technologies. </li>
						<li>Comfortable working in both team as well as self-directed settings.</li>
					</ul>     
				 </p>
			</div>
			<div class="col-md-6 text-center ">
				<img id="div1img" class="img-fluid" src="illustrations/profile2.svg">
			</div>
		</div>

		<div class="row align-items-center m-sm-3 m-lg-5">
			<div class="col-lg-12">
				<h1 class="text-center">What I Do?</h1>
			</div>			
		</div>

		<div class="row">
			<div class="col-lg-6">
				<p></p>
			</div>
		</div>
		<div class="row">
			
		</div>
		<div class="row">
			
		</div>
</div>

<%- include("partials/footer")%>