body{
	font-family: 'Montserrat', sans-serif;
}

#skillset{
	font-weight: 600;
	color: #068488;
	font-size: 50px;
}

#personalname{
	font-weight: 700;
	color: #068488;
	font-size: 50px;
}	

#mainlogo{
	height:90px;
	width:auto;
	margin: 0px;
	padding: 0px;
}

#div1img{
	width:600px;
	height: 400px;
}
#summarylogo{
	width: 45px;
	height: 45px;
	color: #068488;
}

#professionalsummary, .description{
	color: #808fa6;
	font-weight: 600;	
	font-size: 19px;
}

#navigation{
	background: transparent;
}

#ulfont{
	font-weight: 500;
	font-size: 18px;
	padding: 0;
	margin: 0;
}

.hovering{
	color: #068488;
}

.highlight >a{
	font-weight: 900;
}

.buttonstyle:hover{
	color: #B8E778;
}

.buttonstyle,.hovering:hover{
	color: #FFFFFF;
	background: #068488;
	font-weight: bold;
}

#collegelogo{
	width: 80px;
	height: 80px;
}

#sfitlogo{
	border-radius: 50%;
}


#displaypicture{
	border-radius: 50%;
}

.fa{
	color: #068488;
}

.foot{
	color: #068488;
	font-weight: 500;
}

#qualification1,#qualification2,#summary,#skills,#experience{
	color: #3d4b61;
	font-size: 40px;
}

.border{
	color: #068488;
	padding: 15px;
}

#maven,#nexus{
	height: 130px;
	width: 130px;
	margin-top: 10px;
}

#elk{
	height: 130px;
	width: 130px;
	margin-top: 10px;
}





