#div1img{
	width:600px;
	height: 400px;
	/*margin-top: 60px;*/
}

#professionalsummary{
	text-align: left
}

#navigation{
	background: transparent;
}

.hovering{
	color: #068488;

}

.hovering:hover{
	color: #FFFFFF;
	background: #068488;
}

#collegelogo{
	width: 80px;
	height: 80px;
}

#sfitlogo{
	border-radius: 50%;
}

#collegesite{
	color: #FFFFFF;
	background: #068488;
}
